# Ignora todos os arquivos .log
*.log

# Ignora todos os arquivos na pasta “temp”
temp/

# Ignora o arquivo config.php
config.php

# Arquivos de backup
*~

# Arquivos binários
*.bin
*.db
*.dat
*.o
*.so

# Arquivos temporários
*.tmp
*.bak
*.swp
